body{
  padding:0;
  margin:0;
  height:2000px;
  background: #000;
  color: #fff;
}

h1, .logo, .contenedor{
  margin:0;
  padding:0;
  position:fixed;
  z-index:2;
  width:100%;
  font-family:arial;
}

h2{
  top:40%;
  font-size: 40px;
}

.contenedor{
  opacity:0;
  width:80%;
  left:10%;
  overflow:hidden;
  height:100%;
}

.logo{
  display:block;
  overflow:hidden;
  background: black url(megadeth.jpg) center center no-repeat;
  height:100%;
  width:100%;
}

nav{
  background:-webkit-linear-gradient(top,#000 0%,#777 100%);
  border-bottom:2px solid #ccc;
  position:fixed;
  left:0;
  top:0;
  z-index:10;
  width:100%;
}

nav ul{
  overflow:auto;
  list-style:none;
  margin:0;
}

nav li{
  float:left;
  margin-right: 2em;
}

nav a{
  color:#fff;
  font-family:verdana;
  display:block;
  padding:10px;
  text-decoration:none;
  font-weight:bold;
  font-size: 1.2em;
  opacity: 0.6;
}

nav a:hover{
  opacity: 1;
  text-shadow:0px 0px 20px #fff;
}

#seccion1{
  background: #001;
}

#seccion2{
  background: #100;
}

#seccion3{
  background: #222;
}

#seccion4{
  background: #010;
}
